<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Forgot Password</h1>
    </div>
    <% if(info) { %>
        <div class="alert alert-info"><%= info %></div>
    <% } %>

    <div class="row">
        <div class="col-sm-5">
            <!-- LOCAL INFORMATION -->
            <form action="/forgot" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                
    
                <button type="submit" class="btn btn-warning btn-lg">Reset Password</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>
